Port 2222
ListenAddress 0.0.0.0
PermitRootLogin yes
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePam no
X11Forwarding no
Ciphers aes256-cbc
MACs hmac-sha1-96
Subsystem sftp internal-sftp